   <nav class="main-menu">
    <ul>
        <li>
            <a href="https://jbfarrow.com">
                <i class="fa fa-file-text-o fa-2x"></i>
                <span class="nav-text">
                   Контракты
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Отчетность
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-tachometer fa-2x"></i>
                <span class="nav-text">
                    Дашборды
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-cogs fa-2x"></i>
                <span class="nav-text">
                 Производительность Системы
                </span>
            </a>
           
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-globe fa-2x"></i>
                <span class="nav-text">
                    Геопортал
                </span>
            </a>
           
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="#" (click)="onLogout(); sendNotification('Logged out successfully!');">
                <i class="fa fa-power-off fa-2x"></i>    
                <span class="nav-text">Logout</span>
            </a>
        </li>  
    </ul>
</nav>
